<h2 class="products__header">
    <a href="@url" itemprop="url" title="Mais detalhes" class="product-link">
        <span class="products__image product-image">@foto(280x372)</span>
    </a>
</h2>
<div class="products__main">
	<a href="@url" title="@nome(60)" class="products__name">@nome</a>
	<div class="products__content">
        <div class="products__day">
            <svg class="ico z-date"><use xlink:href="#z-date" /></svg>
            <span>Hoje</span>
        </div>
        <div class="products__timer">
            <svg class="ico z-timer"><use xlink:href="#z-timer" /></svg>
            <span>20:20H</span>
        </div>
        <div class="products__locations">
            <svg class="ico z-map"><use xlink:href="#z-map" /></svg>
            <span>São Paulo-SP</span>
        </div>
    </div>
    <a href="@url" itemprop="url" title="Mais detalhes" class="products__buy">
        <span>Comprar ingressos</span>
    </a>
</div>