<div class="events">
    <div class="events__container">
        <div class="events__list">
        {{widget type="interface/widget_menu" template="interface/widgets/menu.phtml" identificador="eventscategories" exibicao="normal" niveis="1"}}
        </div>
        <div class="events__footer">
            <svg class="ico z-next-four"><use xlink:href="#z-next-four" /></svg>
            <a class="events__link" href="#"><span>Veja mais eventos</span></a>
            <svg class="ico z-prev-four"><use xlink:href="#z-prev-four" /></svg>
        </div>
    </div>
</div>