<div class="youtube">
    <div class="youtube__container">
        <div class="youtube__header">
            <svg class="ico z-close" viewBox="0 0 53.4 53.4"><path d="M53.4 43.19L36.92 26.7 53.4 10.21 43.19 0 26.7 16.48 10.22 0 0 10.21 16.49 26.7 0 43.19 10.22 53.4 26.7 36.92 43.19 53.4z"/></svg>
            <h3 class="youtube__title">
                <span>Acompanhe-nos no</span>
                <strong>Youtube</strong>
            </h3>
        </div>
        <div class="youtube__main">
            <svg class="ico z-video"><use xlink:href="#z-video" /></svg>
            <div class="youtube__play">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mkw3jkXHjEc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>