color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #ff0782
color1_bg_hover = #ce0569
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #e85f25
color2_bg_hover = #ce5826
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #2e3d4f
color3_bg_hover = #1e2834
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
