.footer
    padding: 20px 0

    @media media-max-lg
        text-align: center

    .logo
        display: inline-block
        margin-bottom: 25px

    &__title
        padding: 25px 0
        color: var(--primary)
        text-transform: uppercase
        font-weight: bold
        font-size: 18px

    &__row
        @media media-min-lg
            display: flex
            justify-content: space-between
            align-items: flex-start
