.instagram
    margin-bottom: 50px

    &__header
        text-align: center

        .ico
            width: 36px
            height: 20px
            fill: url('#primary-gradient')

    &__title
        margin: 40px 0 30px
        color: var(--tertiary)
        text-transform: uppercase
        font-weight: bold
        font-size: 32px

        strong
            display: block
            color: var(--primary)

    &__main
        position: relative

        .ico
            position: absolute
            top: -55px
            left: -55px
            z-index: -1
            width: 627px
            height: 627px
            color: #eaebed

            @media media-max-lg
                top: -30px
                left: -30px
                width: 300px
                height: 300px

    &__list
        display: grid
        grid-gap: 20px

        @media media-min-lg
            grid-template-columns: 2fr repeat(2, 1fr)
            grid-template-rows: repeat(2, 250px)

        @media media-max-lg
            grid-template-columns: repeat(2, 1fr)

        img
            width: 100%
            height: 100%
            transition: all .2s ease-in-out
            transform: scale(1)
            object-fit: cover

        a
            display: block
            overflow: hidden

            @media media-min-lg
                &:hover img
                    transform: scale(1.1)

            &:first-child
                @media media-min-lg
                    grid-row: 1 / 3

                @media media-max-lg
                    grid-column: 1 / 3
