.logo
    .header &
        img, svg
            height: 58px

        img
            object-fit: contain

    .footer &
        img, svg
            height: 48px

        img
            object-fit: contain