.mymenu
    .footer &
        .a--0
            color: var(--tertiary)
            text-transform: uppercase
            font-weight: bold
            font-size: 14px

            &:hover
                color: var(--tertiary)

                @media media-min-lg
                    color: var(--primary)