.socials
    &__list
        display: block

    &__link
        display: inline-flex
        align-items: center

    &__img
        margin-right: 10px
        width: 25px
        height: 25px

    &__name
        display: block
        color: var(--tertiary)
        text-transform: uppercase
        font-weight: bold
        font-size: 14px