.catalog-category-view, .catalogsearch-result-index
    .col-left, .category-thumb, .category-description
        display: none !important

    .category-title, .search-title
        h1
            padding: 20px 0
            color: var(--tertiary)
            text-transform: uppercase
            font-weight: bold
            font-size: 32px

    .ias-noneleft
        display: none !important